<div class=" d-md-flex justify-content-md-end" style="margin-top:10px">
  <a class="btn btn-primary" type="button" href="/admin/login/logout">Cerrar Sesion <i class="fas fa-sign-out-alt"></i> </a>
</div>

<h2>Bienvenido {{usuario}}!!!</h2>