
<section class="header">
    <img src="images/logo.jpg" alt="logo">
        <h1>SKY ascensores</h1>
</section>


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li class="activo"><a href="/galeria">Galeria</a></li>
        <li><a href="/normativa">Legislacion</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>

<main>
        <div id="galeria">
            <div class="galeria">
                <p>SKY ASCENSORES es un protagonista dinámico que participa en forma activa en el desarrollo, fabricación e instalación de una amplia gama de medios de elevación que brindan la solución perfecta para  necesidades del transporte vertical.</p>
                <div class="hidraulicos">
                    <h2>HIDRAULICOS</h2>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag1.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag2.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag3.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag4.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag5.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag6.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/hidra/imag7.jpg" alt="">
                    </div>
                </div>
                <div class="Panoramicos">
                    <H2>PANORAMICOS</H2>
                    <div class="foto">
                        <img src="images/galeria/panora/panor1.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/panora/panor2.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/panora/panor3.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/panora/panor4.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/panora/panor5.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/panora/panor6.jpg" alt="">
                    </div>
                </div>
                <div class="vehiculos">
                    <H2>VEHICULARES</H2>
                    <div class="foto">
                        <img src="images/galeria/vehic/vehic1.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/vehic/vehic2.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/vehic/vehic3.jpg" alt="">
                    </div>
                    <div class="foto">
                        <img src="images/galeria/vehic/vehic4.jpg" alt="">
                    </div>
                </div>
            </div>      
        </div>
    </main>