<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<section class="header">
    <img src="images/logo.jpg" alt="logo">
        <h1>SKY ascensores</h1>
</section>


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="activo" ><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="/normativa">Legislacion</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>

<main>
        <div id="nosotros">
            <div class="nos">
                <div class="descripcion">
                    <h2>Factor de exito sostenible de nuestra empresa: Capital Humano</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa libero at vitae soluta voluptates, sed ipsum nemo iure quo maiores architecto tenetur eius dignissimos hic sapiente rerum ipsam ea facilis?.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit sunt nemo, impedit nulla ipsa officiis assumenda consequatur neque quaerat ratione. Sint odio aut quae illo voluptates porro quia libero sed.</p>
                </div>
                <div class="descripcion">
                    <img src="images/nosotros/nos1.jpg" alt="">
                </div>
            </div>
        
            <div class="staff">
                <h2>Staff</h2>
                <div class="personas">
                    <div class="persona">
                        <img src="images/nosotros/nosotros1.jpg" alt="">
                        <h5>JUAN GOMEZ</h5>
                        <H6>Gerente General</H6>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quidem dolores pariatur ipsam nemo corporis non libero, culpa voluptates et quam explicabo facere eaque fugiat aut reprehenderit velit sapiente porro. </p>
                    </div>
                    <div class="persona">
                        <img src="images/nosotros/nosotros2.jpg" alt="">
                        <h5>DIANA REYES</h5>
                        <H6>Gerente Comercial</H6>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quidem dolores pariatur ipsam nemo corporis non libero, culpa voluptates et quam explicabo facere eaque fugiat aut reprehenderit velit sapiente porro. </p>
                    </div>   
                    <div class="persona">
                        <img src="images/nosotros/nosotros3.jpg" alt="">
                        <h5>Roberyo Zapato</h5>
                        <H6>Gerente de Sistemas</H6>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quidem dolores pariatur ipsam nemo corporis non libero, culpa voluptates et quam explicabo facere eaque fugiat aut reprehenderit velit sapiente porro. </p>
                    </div>        
                    <div class="persona">
                        <img src="images/nosotros/nosotros4.jpg" alt="">
                        <h5>SANDRA GUERRA</h5>
                        <H6>Gerente de Marketing</H6>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quidem dolores pariatur ipsam nemo corporis non libero, culpa voluptates et quam explicabo facere eaque fugiat aut reprehenderit velit sapiente porro. </p>
                    </div> 
                    <div class="persona">
                        <img src="images/nosotros/nosotros5.jpg" alt="">
                        <h5>LUCIANO CAKE</h5>
                        <H6>Gerente Logistica</H6>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quidem dolores pariatur ipsam nemo corporis non libero, culpa voluptates et quam explicabo facere eaque fugiat aut reprehenderit velit sapiente porro. </p>
                    </div> 
                </div>
            </div>   
        </div>
</main>