<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<section class="header">
    <img src="images/logo.jpg" alt="logo">
        <h1>SKY ascensores</h1>
</section>


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li class="activo" ><a href="/servicios">Servicios</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="/normativa">Legislacion</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>

<main>
        <div id="servicios">
            <div class="ser_img">
                <img src="images/servicios/serv.jpg" alt="ser-ini">
                <h2>Nuestro compromiso es aportar valor mediante la innovación permanente y la búsqueda activa de nuevas soluciones tecnológicas. Gracias a esta filosofía hoy ocupamos una posición de liderazgo a nivel internacional.</h2>
            </div> 
            <div class="servicios"> 
                <img src="images/servicios/serv1.jpg" alt="proyecto">
                <div class="ser_info">
                    <h4>Instalaciones y Proyectos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
            <div class="servicios"> 
                <img src="images/servicios/serv2.jpg" alt="modernizacion">
                <div class="ser_info">
                    <h4>Modernizaciones</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
            <div class="servicios"> 
                <img src="images/servicios/serv3.jpg" alt="mantenimiento">
                <div class="ser_info">
                    <h4>Mantenimiento</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
        </div>
    </main>