
<section class="header">
    <img src="images/logo.jpg" alt="logo">
        <h1>SKY ascensores</h1>
</section>


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li class="activo" ><a href="/servicios">Servicios</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="/normativa">Legislacion</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>

<main>
        <div id="servicios">
            <div class="ser_img">
                <img src="images/servicios/serv.jpg" alt="ser-ini">
                <h3>Nuestro compromiso es aportar valor mediante la innovación permanente y la búsqueda activa de nuevas soluciones tecnológicas. Gracias a esta filosofía hoy ocupamos una posición de liderazgo a nivel internacional.</h3>
            </div> 
            <div class="servicios"> 
                <img src="images/servicios/serv1.jpg" alt="proyecto">
                <div class="ser_info">
                    <h4>Instalaciones y Proyectos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
            <div class="servicios"> 
                <img src="images/servicios/serv2.jpg" alt="modernizacion">
                <div class="ser_info">
                    <h4>Modernizaciones</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
            <div class="servicios"> 
                <img src="images/servicios/serv3.jpg" alt="mantenimiento">
                <div class="ser_info">
                    <h4>Mantenimiento</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate assumenda, est totam molestias consequatur voluptatibus quia praesentium repellendus consectetur amet temporibus repellat minima ipsam aliquid quidem! Provident, aut id?</p>
                </div>
            </div>
        </div>
    </main>