.contenedor{
    margin-inline: 30%;
    margin-top: 50px;
    background-color: white;
    border: solid black;
    /*width: 500px;*/
    height: 350px;
    display: inline-flex;
    flex-direction: row-reverse; 
    align-items: center;


}

.rojo{
    background-color: red;
    font-size: 20px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul{
    background-color:blue;
    font-size: 20px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde{
    background-color:green;
    font-size: 20px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}